
bin
/promnicat/resources/2011-04-19_signavio_academic_processes
/promnicat/resources/SignavioAcademicExport20120810
/promnicat/resources/orientDB
/promnicat/resources/orientDBsmall
/promnicat/resources/NPB_complete
*.prefs
